@use '../base/colors' as *;
@use '../utils/functions' as *;

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding-inline: rem(64);
  width: 100%;
  height: rem(128);
  font-size: rem(12);
  color: $navbar-color;

  &__wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__logo {
    width: rem(52);
    height: auto;
    color: $navbar-color;

    svg {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  &__color_options {
    margin-left: rem(192);
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span.point {
      margin-inline: rem(4);
    }

    &__option {

      &__text {
        color: inherit;
        text-transform: uppercase;
        opacity: 0.5;

        &.active {
          color: $navbar-color;
          opacity: 1;
          font-weight: 700;
        }
      }
    }
  }

  & &__links {
    margin-left: auto;
    display: flex;
    gap: rem(192);
    text-transform: lowercase;

    &__link {
      width: rem(64);
      color: $navbar-color;
    }
  }

  &__menu_toggler {
    margin-left: auto;
    color: $navbar-color;
    position: relative;
    text-transform: lowercase;

    &::before {
     content: '+';
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%, -50%);
    }
  }

  .toggle__icon {
    position: absolute;
    top: 50%;
    translate: 150% -80%;
    right: 4rem;
    cursor: pointer;
    transition: rotate .4s ease-out, translate .4s ease-out;

    span {
      display: block;
      background-color: $navbar-color;
      transition: width .4s ease-out, height .4s ease-out, translate .4s ease-out;

      &:nth-child(1) {
        width: 6px;
        height: 2px;
      }

      &:nth-child(2) {
        width: 2px;
        height: 6px;
        translate: 100% -70%;
      }
    }

    &.open{
      rotate: -45deg;
      translate: 100% -50%;

      span {
        &:nth-child(1) {
          width: 12px;
          translate: -25% -25%;
        }

        &:nth-child(2) {
          height: 12px;
          translate: 100% -65%;
        }
      }
    }
  }
}


.navbar--open {
  @extend %absolute-cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(64);

  .navbar__links {
    display: flex;
    flex-direction: column;
    font-size: rem(108);
    text-transform: lowercase;
  }

  .navbar__articles {
    font-size: rem(108);
    text-transform: lowercase;
    rotate: 5deg;
    transform-origin: center;

    &__background svg{
      rotate: -15deg;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: rem(128);
      width: rem(760);
      height: auto;

      @extend %flex-center;
    }
  }

  .navbar__small_links {
    display: flex;
    justify-content: space-between;

    &__personal {
      &__link {
        &:not(:last-child) {
          margin-bottom: rem(16);
        }

        a {
          color: $light-gray;
        }
      }
    }

    &__social {
      display: flex;
      align-items: flex-end;
      gap: rem(12);

      color: $gray;
      text-transform: lowercase;
    }
  }
}
