{{#>base template='about'}}
  <section class="hero">
    <h1 class="hero__title"><span>About</span></h1>
  </section>

  <section class="introduction">
    <h3 class="introduction__subtitle">A few things about me</h3>
    <p class="introduction__paragraph">
      Brazilian, with almost a decade of experience in design projects.<br>
      During this time I went through agencies, software houses and<br>
      startups, until embarking as a partner at Zenit Creative, where I<br>
      help to translate thoughts into pixels.
    </p>
    <aside class="introduction__side">And currently... I'm a member of Jury at Awwwards.</aside>
  </section>

  <section class="experience">
    <h2 class="experience__title">09 <span>years accumulating <span>skills</span></span></h2>
  </section>

  <section class="skills">
    <h3 class="skills__title">My main skills</h3>
    <ul class="skills__list">
      <li class="skills__list__item">Visual design</li>
      <li class="skills__list__item">User interfaces</li>
      <li class="skills__list__item">Prototyping</li>
      <li class="skills__list__item">3D generalist</li>
      <li class="skills__list__item">Iconography</li>
    </ul>
  </section>

  <section class="brands">
    <h3 class="brands__title">Brands that my skills helped</h3>
    <ul class="brands__list">
      <li class="brands__list__item">Riomar</li>
      <li class="brands__list__item">JCPM</li>
      <li class="brands__list__item">Yamaha</li>
      <li class="brands__list__item">Tambaú</li>
      <li class="brands__list__item">SBT Nordeste</li>
      <li class="brands__list__item">UNIFG</li>
      <li class="brands__list__item">Radio Jornal</li>
      <li class="brands__list__item">Saint Gobain</li>
      <li class="brands__list__item">Quartzolit</li>
      <li class="brands__list__item">Unimed</li>
    </ul>
  </section>
{{/base}}

