{{#>base template='about'}}
  <h1 class="about__title" data-animation="link"><span>About</span></h1>

  <div class="introduction">
    <h3 class="introduction__subtitle">A few things about me</h3>
    <p class="introduction__paragraph">
      Brazilian, with almost a decade of experience in design projects.<br>
      During this time I went through agencies, software houses and<br>
      startups, until embarking as a partner at Zenit Creative, where I<br>
      help to translate thoughts into pixels.
    </p>
    <aside>And currently... I'm a member of Jury at Awwwards.</aside>
  </div>

  <h2 class="experience">09 <span>years accumulating <span>skills</span></span></h2>

  <div class="skills"></div>
{{/base}}

