@use './colors'as *;
@use './fonts'as *;

@use '../utils/functions'as *;
@use '../utils/breakpoints'as *;
@use '../utils/functions'as *;

:root {
  --vh: 0px;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 4.2666666667vw;

  @include breakpoint(md) {
    @include vfit(font-size, 1.04166666667);
  }
}

body {
  background-color: $background;
  color: $text-color;
  font-family: $neue-montreal;
  font-weight: 500;

  transition: background-color .5s ease, color .2s ease;
}

h1 {
  font-size: rem(42);
  line-height: 1.44;
}

[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    height: 1.782em;
    display: inline-flex;
    align-items: flex-end;
  }
}

[data-animation="link"] {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  >div {
    pointer-events: none;
  }

  span {
    display: inline-block;
    transform-origin: center center 0.5em;
    vertical-align: middle;
    pointer-events: none;
  }
}
