{{#>base template='about'}}
  <section class="heading">
    <h1 class="heading__title">Belief</h1>
    <aside class="heading__paragraph">No inicio eu queria criar coisas inovadoras, sabe aquele tipo de coisa você olha e diz “uau nunca vi isto antes” e que são coisas realmente fascinantes naquele lampejo de momento.</aside>
  </section>

  <section class="regrets">
    <p class="regrets__paragraph__top">
      Talvez meu maior arrependimento foi ter gasto dois terços da minha carreira em uma busca injustificável, para poder batizar tudo de criava de criativo, era satisfatório os tapinhas nas costas e ouvir “uau que criativo”.
    </p>
    <p class="regrets__paragraph__bottom">
      Sem perceber tornei este adjetivo no destino final de tudo que criava. Felizmente com o passar do tempo o destino final se mostrou nada mais que um caminho para algo que era mais gratificante que chamo de “criar coisas boas”. A revolução agora não era mais objetivo final, ela não tomava os holofotes, mas apenas possuía um papel secundário que lhe cabia atuar quando e se necessário.
    </p>
  </section>

  <section class="conclusion">
    <p class="conclusion__paragraph">
      Assim como em a pietá de michelangelo não havia revolução pela técnica, pelo material, nem ao tema iconográfico e sim pela capacidade de michelangelo de se imprimir em seus atos
    </p>
  </section>
{{/base}}
