{{#>base template='homepage'}}
<h1 class="homepage__title" data-animation="title" data-centered>{{ homepage.title }}</h1>

<div class="homepage__footer">
  <div class="homepage__footer__partner">Partner<br>in Zenit<br>Creative</div>
  <ul class="homepage__footer__socials">
    <li class="homepage__footer__socials__social">
      <a href="https://www.dribbble.com" target="_blank" data-animation="link"><span>Dribbble</span></a>
    </li><br>
    <li class="homepage__footer__socials__social">
      <a href="" target="_blank" data-animation="link"><span>Instagram</span></a>
    </li><br>
    <li class="homepage__footer__socials__social">
      <a href="" target="_blank" data-animation="link"><span>Behance</span></a>
    </li>
  </ul>
</div>
{{/base}}
